*  {box-sizing: border-box;}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Roboto' ;
    src: url(Roboto-Regular.ttf);
}

.navbar-brand {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 27.451px;
    line-height: 27px;
    color: #000000;
    margin-top: 10px;}

.bg-image  {height: 529px;
    right: 0;}

.my-col     { padding-left: 80px;
    padding-top: 170px;}

.my-col1  {padding: 32px;
        padding-top: 0px;}

.img1  {margin-top: 40px;
     }

.denmark {font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    letter-spacing: 2px; 
    color: #1B1B1B;
    margin-left: 0px;
    }

.name   {font-weight: 400;
    font-size: 18px;}

.img2   {border-radius: 50px;
    height: 39px;
    width: 39px;}

h1  {margin-left:  100px;
    font-weight: 700;
    font-size: 72px;}

p   {margin-left: 100px;}

.speaker {right: 0;
    Height: 529px;
    width: 820px;
    margin-top: 65px;}

.bubbles    {
    right: 0;
    height: 450px;}

.fixed-size  {width: 1400px;}

.nav-text   {color: #000000; }

.footer1  {position: relative;
    bottom: 0;
    width: 1350px;
    }

.footer > a {color: black;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    justify-content: space-between;

}
    
.brothers {justify-content: baseline;}

span {font-size: 14px;}

.p   {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: 0px;}

.download   { border: 3px solid #1B1B1B;
    border-radius: 100px;
    width: 402px;
    height: 60px;
    margin: 0; 
    padding: 0;
    background-color: #FAD961;
    margin-top: 30px;
    justify-content: center;
    }

.line  { width: 1px;}

.mark-heading {
    width: 473px;
    height: 203px;
    position: relative;
    align-items: center;
    margin-inline: auto;
    flex-direction: column;
    margin-top: 65px;
}

.dolar {
    margin-inline: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
        } 

.mark-heading-linie {
    color: #1B1B1B;;
}

.mark-heading-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -4px;
    color: #1B1B1B;
    width: 800px;
    justify-content: center;
    }

.mark-heading-button {
    margin-top: 14px;
}

.mark-heading-text2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;

    color: #292930;
}

.euro  {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    color: #1B1B1B;}

.icon  {margin-left: -15px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1B1B1B;}

.icon-2   {margin-left: 32px;}


.border-right  { border-right: 1px solid #1B1B1B;
    height: 56px;
    padding-bottom: 10px;}

.row-1   {margin-bottom: 0px;}

.white   {color: white !important;}